In [4]:
import pandas as pd
df = pd.read_csv("C:\\Users\\maheshkatte\\Downloads\\Salary_Data1.csv")
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [5]:
from sklearn.pipeline import Pipeline

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
pipe = Pipeline([("scaler", StandardScaler()), ("L R", LinearRegression())])

In [9]:
x = df[["YearsExperience"]]
y = df["Salary"]

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=0)

In [12]:
pipe.fit(xtrain, ytrain)

Pipeline(steps=[('scaler', StandardScaler()), ('L R', LinearRegression())])

In [14]:
pipe.score(xtrain, ytrain)

0.9411949620562126

In [15]:
pipe.score(xtest, ytest)

0.988169515729126